.navbar {
  background-color: #7ea1e7;
  padding: 1rem;
}

.navbar ul {
  display: flex;
  justify-content: center;
}

.navbar li {
  list-style: none;
  margin-right: 1rem;
}

.navbar li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  transition: color 0.4s ease-in-out;
}

.navbar li a:hover {
  color: #a0aec0;
  text-decoration: underline;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome h1 {
  font-size: 5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color:black
}

.welcome img {
  width: 500px;
  height: 500px;
}


.timer-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color:black
}


.timer-page input{
  background-color: #e5e6e9;
  color:black;
  border: solid 1px #7ea1e7;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  font-family: monospace;
  width:15rem;

}

.timer-controls {
  color: #ffffff;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.4s ease-in-out;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}


.timer-page button:hover {
  background-color: #ec9f1a;
}

.timer-page button:disabled {
  background-color: #e01c19;
  cursor: not-allowed;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color:black
}

.controls button {
  color: #ffffff;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.4s ease;
}

.start-button {
  background-color: #68f555;
}

.start-button:hover {
  background-color: #3bda26;
}

.stop-button {
  background-color: #e75336;
}

.stop-button:hover {
  background-color: #d62d1f;
}

.split-button {
  background-color: #54d3e9;
} 

.split-button:hover {
  background-color: #19b1e4;
}


.reset-button {
  background-color:#e5e844;
}

.reset-button:hover {
  background-color: #e7f309;
}

button:disabled {
  opacity: 0.3; 
  cursor: not-allowed; 
}
